@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600&family=Manrope&display=swap');

:root {
  --dark-blue: #24053e;
  --light-green: #44ffa1;
  --light-purple: #584d62;
  --light-pink: #fcf8ff;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'Fraunces', serif;
  font-weight: 600;
}

h1 {
  line-height: 80px;
  font-size: 80px;
}

h2 {
  line-height: 64px;
  font-size: 56px;
}

h3 {
  line-height: 40px;
  font-size: 32px;
}

p {
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  line-height: 32px;
}

button {
  margin-top: 1rem;
  padding: 15px 25px;
  background-color: var(--light-green);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: var(--dark-blue);
  color: var(--light-green);
  border: 1px solid;
}

body {
  position: relative;
}

header {
  position: relative;
  width: 100%;
  border: 1px solid;
  padding: 3rem 7rem;
  background-color: var(--dark-blue);
  color: var(--white);
  overflow: hidden;
  z-index: 2;
  clip-path: ellipse(100% 100% at top);
  margin-bottom: -5rem;
}

header > nav {
  display: flex;
  justify-content: space-between;
}

.nav-items > p:hover {
  color: var(--light-green);
  text-decoration: underline;
  cursor: pointer;
}

.header-content {
  text-align: center;
  width: 50%;
  margin: auto;
  position: relative;
  top: 6rem;
}

.content > h1 > span {
  text-decoration: underline var(--light-green);
}


.pattern-1 {
  position: relative;
  top: -12rem;
  left: -16rem;
}

.pattern-2 {
  position: relative;
  top: -8rem;
  right: -53rem;
}

#features-section {
  background-color: var(--light-pink);
  padding: 5rem 10rem;
  min-height: 500px;
  clip-path: ellipse(100% 100% at top);
}

.features-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature {
  text-align: center;
  color: var(--light-purple);
  width: 100%;
  padding: 2rem 0;
  margin: 10rem 0.5rem;
}

.feature > div {
  border: 1px solid;
  border-radius: 50%;
  width: 13%;
  margin: 3rem auto;
  padding: 0.5rem;
}

.feature > h3 {
  margin-bottom: 2rem;
}

.feature > p {
  line-height: 2.5rem;
}

#hero-container {
  width: 40%;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

#hero-container > img {
  width: 100%;
}

#about-section {
  position: relative;
}

.founder {
  width: 50%;
  padding: 5rem 7rem;
  margin: 0 5rem;
}

.founder > img {
  width: 100%;
}

#about-section > .content {
  width: 50%;
  padding: 2rem 3.5rem;
  background-color: var(--dark-blue);
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 40%;
}

.content > h3 {
  margin-bottom: 2rem;
  font-size: 3rem;
}

.content > p {
  margin-bottom: 1rem;
}

footer {
  padding: 2rem 5rem;
}

.footer-logo {
  text-align: center;
}

.socials {
  margin-top: 2rem;
  text-align: center;
}

.socials > img {
  padding: 1rem 1.5rem;
}